<div id="carousel-top" class="carousel slide carousel-margin" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-top" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-top" data-slide-to="1"></li>
    <li data-target="#carousel-top" data-slide-to="2"></li>
    <li data-target="#carousel-top" data-slide-to="3"></li>
    <li data-target="#carousel-top" data-slide-to="4"></li>
    <li data-target="#carousel-top" data-slide-to="5"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="http://lorempixel.com/1920/600/business/Slide" alt="...">
      <div class="carousel-caption">
        <h1>nbs Technologies</h1>
        <h3>Scalable EMV Personalization Solutions</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://lorempixel.com/1900/600/transport/Slide" alt="...">
      <div class="carousel-caption">
        <h1>Arius</h1>
        <h3>System Integrator</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://lorempixel.com/1900/600/nature/Slide" alt="...">
      <div class="carousel-caption">
        <h1>Ingenico</h1>
        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://lorempixel.com/1900/600/nature/Slide" alt="...">
      <div class="carousel-caption">
        <h1>Diebold</h1>
        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://lorempixel.com/1900/600/nature/Slide" alt="...">
      <div class="carousel-caption">
        <h1>Lexmark</h1>
        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://lorempixel.com/1900/600/nature/Slide" alt="...">
      <div class="carousel-caption">
        <h1>Glory Global</h1>
        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h3>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-top" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-top" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Welcome to Robert Johnson Holdings</h2>
      <p>Robert-Johnson Technologies Limited;
        a subsidiary of Robert Johnson Nigeria Limited is an E-Banking Technology Company.
        We specialize in the Financial Self-Service sector and Banking Automation with special emphasis on Automated Teller Machine (ATM),
        Point-of-Sales (POS), Card Management System (CMS), EFT/POS Terminal Management System (TMS) and other Allied Technology Solutions.</p>
      <!--<a class="btn btn-lg btn-primary" href="http://www.responsivewebmobile.com">Back to RWM</a>-->
    </div>
  </div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <a href="#" class="thumbnail">
        <img class="img-square img-responsive img-resize" src="assets/pos.png" alt="P.O.S." />
      </a>
      <h2 class="text-center">Point of Sales</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default btn-lg" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-6">
      <a href="#" class="thumbnail">
        <img class="img-square img-responsive img-resize" src="assets/atm.png" alt="A.T.M." />
      </a>
      <h2 class="text-center">Automated Teller Machines</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-default btn-lg" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <a href="#" class="thumbnail">
        <img class="img-square img-responsive img-resize" src="assets/credit-cards.png" alt="Credit Cards" />
      </a>
      <h2 class="text-center">Card Management System</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default btn-lg" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-6">
      <a href="#" class="thumbnail">
        <img class="img-square img-responsive img-resize" src="assets/eft.jpg" alt="Electronic Fund Transfer" />
      </a>
      <h2 class="text-center">Electronic Funds Transfer</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default btn-lg" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>
