<footer>
  <div class="footer-size">
    <p class="pull-left footer">&copy; 2015 Robert Johnson Holdings Limited</p>
    <p class="pull-right">
      <%= link_to 'Privacy', root_path, class: 'footer-inline'%>
      <%= link_to 'Terms', root_path %>
    </p>
  </div>
</footer>
